<!DOCTYPE html>
<html lang="en">


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="css/style.css">


<body>
    <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <h1><a href="#home" class="w3-bar-item w3-button"> Super <b>Roster</b></a></h1>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="search.handlebars" class="w3-bar-item w3-button">Search</a>
        <a href="#about" class="w3-bar-item w3-button">Roster</a>
        <a href="#contact" class="w3-bar-item w3-button">Contact</a>
        {{#if logged_in}}<button class="w3-bar-item w3-button" id="logout">logout</button>{{/if}}
        {{#if logged_in}}<a href="/homepage"></a>{{/if}}
      </div>
     
    </div>
  </div>
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img id = "backgroundImg" class="w3-image" src="/img/p2-BG.jpg" alt="image" width="1500" height="1000" >
    <div class="w3-display-middle w3-margin-top w3-center">
 <span class="">{{{body}}}</span>
  </header>
  <div class="w3-content w3-padding" style="max-width:1564px"></div>
  <main class="container container-fluid mt-5">
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>

{{!-- <body>
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>DC & Marvel</b> superhero card game</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="#projects" class="w3-bar-item w3-button">Projects</a>
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <a href="#contact" class="w3-bar-item w3-button">Contact</a>
      </div>
    </div>
  </div>
    <img class="w3-image" src="/img/p2-BG.jpg" alt="image" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">

    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{else}}
        <a href="/login">login</a>
    {{/if}}
  </header>
  <div class="w3-content w3-padding" style="max-width:1564px"></div>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body> --}}
