{{! featured hero }}

{{! add to roster button }}

{{#if logged_in}}
  <div class="w3-card-4">
    
    <div class="w3-container w3-center" id="heroJar">

    </div>
  </div>

  <div class="boxBorder3 col-3">
    <input
      id="heroSearch"
      type="text"
      class="form-control"
      placeholder="Enter Hero Name"
      aria-label="Enter Hero Name"
      aria-describedby="button-addon2"
    />
    <button type="button" id="button-addon2">
      Search
    </button>
  </div>{{/if}}

{{#if logged_in}}<script
    id="handlebars-demo"
    src="./js/roster.js"
  ></script>{{/if}}

{{#if logged_in}}
  <script src="/js/search.js"></script>
{{/if}}