<div class = "form-container col-3">
<form class="form login-form" id="">
  <div class="form-group hide">
    {{!-- <label for="email-login">email:</label> --}}
    <input class="form-input" type="text" id="email-login" placeholder = "Email:" />
  </div>
  <div class="form-group">
    {{!-- <label for="password-login">password:</label> --}}
    <input class="form-input" type="password" id="password-login" placeholder="Password:" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit"><span>login</span>login</button>
  </div>
 </form>

 <form class="form signup-form">
  <div class="form-group">
    {{!-- <label for="name-signup">name:</label> --}}
    <input class="form-input" type="text" id="name-signup" placeholder="name:" />
  </div>
  <div class="form-group">
    {{!-- <label for="email-signup">email:</label> --}}
    <input class="form-input" type="text" id="email-signup" placeholder="Email:" />
  </div>
  <div class="form-group">
    {{!-- <label for="password-signup">password:</label> --}}
    <input class="form-input" type="password" id="password-signup" placeholder="Password:" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">signup<span>signup</span></button>
  </div>
</form>
</div>
<script src="./js/login.js"></script>