<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device=width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Super Roster</title>
  </head>

  <body>
    {{{body}}}
<<<<<<< HEAD
    
     <h2>char name</h2>
    <img src="footballflag.jpg" alt="Alps" width="150px" height="150px">
    <div class="w3-container w3-center">
      <ul>
          <li>power</li>
          <li>intelligence</li>
          <li>combat</li>
          <li>speed</li>
          <li>strength</li>
          <button>select character</button>
          <button>discard</button>
    </div>
  </div>
 </div>
=======
   
      
>>>>>>> fd32626a1e12bba6ee77193b94585dc0c6e8d7d3
