<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="utf-8">
        <meta name= "viewport" content="width=device=width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Super Roster</title>
    </head>
        
    <body>
        {{{body}}}
        
    </body>
<script id="handlebars-demo" src="./js/roster.js"></script>
</html>
{{!-- {{#each characterCast as |hero|}}
<div class="heroCard">
<><>
</div>
{{/each}}
{{heroname}}
{
    heroname:"Superman"
} --}}