<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
{{{body}}}

<div class="boxBorder3 col-3">
        <input
          id="heroSearch"
          type="text"
          class="form-control"
          placeholder="Enter Hero Name"
          aria-label="Enter Hero Name"
          aria-describedby="button-addon2"
        />
        <button
          type="button"
          id="button-addon2"
        >
          Search
        </button>
      </div>
    
       <div class="w3-card-4">
     <h2>char name</h2>
    <img src="footballflag.jpg" alt="Alps" width="150px" height="150px">
    <div class="w3-container w3-center">
      <ul>
          <li>power</li>
          <li>intelligence</li>
          <li>combat</li>
          <li>speed</li>
          <li>strength</li>
          <button>select character</button>
          <button>discard</button>
    </div>
  </div>
 </div>
</div>
  </body>
  <script id="handlebars-demo" src="./js/roster.js"></script>
</html>
