<div><h2>SEARCH TEST</h2></div>
  <div>
    <form class="form-group">
    <input
      id="searchInput"
      type="text"
      class="form-control"
      placeholder="Enter Hero Name"
      aria-label="Enter Hero Name"
      aria-describedby="button-addon2"
    />
    </form>
    <button class="btn btn-primary search-button" type="button" id="searchButton" >Search<span>Search</span></button>


      {{#if response.length}}
    <div>
    <h3>TEST</h3>

    {{#each response as |character|}}
    <div>
      <div><h2>{{character.name}}</h2></div>
    </div>
    {{/each}}
  </div>
  {{/if}}


  </div>
  <script>


  </script>


  <script src="/js/search.js"></script>