
  <div id= 'search-form'>
    <form class="form-group">
    <input
      id="searchInput"
      type="text"
      class="form-control"
      placeholder="Enter Hero Name"
      aria-label="Enter Hero Name"
      aria-describedby="button-addon2"
    />
    </form>
    <button class="btn btn-primary search-button" type="button" id="searchButton" >Search<span>Search</span></button>
  </div>

<div class="w3-row-padding">
<div class="w3-rest">
<div class="w3-card w3-white">
  <div class="w3-container">
  
  <ul  id="heroJar"></ul>

  </div>
  </div>
</div>
</div>
  {{!-- <div>
    <div class="container"
    id="heroJar"

    >
    </div>
  </div> --}}



</div>




  <script src="/js/search.js"></script>
   
