/* #hidelogin .hidden {

} */
.hide {
    display: none,
}


.form-container {
    border: 3px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    clip-path: 
    polygon(
      0% 5%,     /* top left */
      5% 0%,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% 95%,  /* bottom right */
      95% 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0% 100%      /* bottom left */
    );

}
form input {
    margin-bottom: 10px;

}
button {
    --borderWidth: 5;
    --boxShadowDepth: 8;
    --buttonColor: #f00;
    --fontSize: 3;
    --horizontalPadding: 16;
    --verticalPadding: 8;
    background: transparent;
    border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
    box-shadow: calc(var(--boxShadowDepth) * 1px) calc(var(--boxShadowDepth) * 1px) 0 #888;
    color: var(--buttonColor);
    cursor: pointer;
    font-size: calc(var(--fontSize) * 1rem);
    font-weight: bold;
    outline: transparent;
    padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
    position: relative;
    transition: box-shadow 0.15s ease;
  }
  button span {
    --clip: inset(0 100% 0 0);
    -webkit-clip-path: var(--clip);
    background: var(--buttonColor);
    border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
    bottom: calc(var(--borderWidth) * -1px);
    clip-path: var(--clip);
    color: var(--bg, #fafafa);
    left: calc(var(--borderWidth) * -1px);
    padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
    position: absolute;
    right: calc(var(--borderWidth) * -1px);
    top: calc(var(--borderWidth) * -1px);
    transition: -webkit-clip-path 0.25s ease;
    transition: clip-path 0.25s ease;
    transition: clip-path 0.25s ease, -webkit-clip-path 0.25s ease;
  }
  button:hover span {
    --clip: inset(0 0 0 0);
  }
  button:hover {
    box-shadow: calc(var(--boxShadowDepth) / 2 * 1px) calc(var(--boxShadowDepth) / 2 * 1px) 0 #888;
  }
  button:active {
    box-shadow: 0 0 0 #888;
  }